* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	position: relative;
	background-color: white;
	z-index: -1;
}
html{
	scroll-behavior: smooth;
}

.d-flex {
	display: flex;
	align-items: center;
}
/*--navigation design begins--*/
.navibar {
	align-items: center;
	display: flex;
	position: fixed;
	z-index: 999;
	width: 100%;
	padding-right: 40px;
	padding-left: 40px;
	line-height: 3.5rem;
	background-color: #ffffff;
	top: 0;
	left: 0;
}

.navibar.fix-navibar {
	width: 100%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
	z-index: 1000;
}

nav {
	text-align: right;
	flex: 1; 
}
nav ul {
	display: inline-block;
	list-style-type: none;
}
nav ul li {
	display: inline-block;
	margin: 0.3rem 1rem;
}
nav ul li a {
	color: black;
 	text-decoration: none;
	display: block;
}
nav ul li a:hover {
    color: #c71585;
}

/*--navigation design ends--*/


/*--container design begins--*/
.container {
	max-width: 114rem;
	margin: 0 auto;
}

.btn {
	display: none;
	cursor: pointer;
	font-size: 2rem;
	color: #ffffff;
}

.container .btn {
	display: block;
	color: #000;
}
/*--container design ends--*/

/*--banners design begins--*/

#banner {
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.5),#960059), url(image/slide1.jpg);
	background-position: center;
	background-size: cover;
}
.banner-content {
	padding-top: 180px;
	color: #ffffff;
	text-align: center;
}
.banner-content span {
	font-size: 47px;
	font-family: 'Lovers Quarrel', cursive;
}
.banner-content h1 {
	font-size: 55px;
	font-family: 'Acme', sans-serif;
}
.banner-content h2 {
	font-size: 23px;
	font-style: italic;
	margin-bottom: 1.5rem;
}

.click-button{
	margin: 40px auto 0;
}
.click-button a {
	width: 150px;
	color: #000;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
    outline: none;
    margin: 0 9px;
    padding: 12px 0;
    border: .6px solid white;
    border-radius: 25px;
    z-index: 1;
    position: relative;
    transition: color 0.4s;
}

.click-button a span {
	position: absolute;
	width: 0;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
	border-radius: 25px;
	background: #ffffff;
	transition: 0.5s;
}

.click-button a:hover span {
	width: 100%;
}
.click-button a:hover {
	color: #000000;
}

/*--banner design ends--*/

@media screen and (max-width: 770px) {
	#banner {
		height: 90vh;
	}

	.banner-content span {
	   font-size: 27px;
	}

   .banner-content h1 {
	   font-size: 35px;
	   
    }
    .banner-content h2 {
	   font-size: 13px;
	   margin-bottom: 1.5rem;
    }

    .click-button{
	   display: block;
    }
} 

/*--category design begins--*/

#category {
    padding: 5rem 0;
	background-color: #fffafa;
}
.category-text {
	padding-bottom: 70px;
	text-align: center;
}
.category-text p {
	margin: auto;
	color: #c71585;
	font-size: 23px;
	font-weight: bold;
	font-family: 'Goudy Bookletter 1911', serif;
	position: relative;
	z-index: 1;
	display: inline-block;
}

.category-text hr {
	background-color: #c71585;
	height: 2px;
	border: 0;
	margin: 15px auto;
	width: 20%;
}

.category-text h1 {
	font-size: 40px;
	font-family: 'Acme', sans-serif;
}
.category-container {
	grid-template-columns: repeat(2,1fr);
	display: grid;
	grid-gap: 2rem;
	padding-left: 50px;
	padding-right: 50px;
}
.category-box {
	overflow: hidden;
	position: relative;
	z-index: 1;
	height: 25rem;
	border-radius: 1.5rem;
}

.category-box::after{
	height: 100%;
	width: 100%;
	content: '';
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0; 
	left: 0;
	top: 0;
	position: absolute;
	z-index: 2; 
	transition: all 500ms ease-in-out;
}
.category-box:hover::after{
	visibility: visible;
	opacity: 1;

}
.category-box img {
	width: 100%;
	height: 100%;
	object-fit: cover; 
	transition: all 300ms ease-in-out;
}

.category-box:hover img {
	transform: scale(1.2);
}
.box-content{
	left: 50%;
	position: absolute;
	top: 50%;
	color: #fff;
	text-align: center;
	z-index: 3;
	transform: translate(-50%, -50%);
}

.box-content h2{
	font-weight: 400; 
	font-size: 20px;
	text-transform: uppercase; 
	width: 150px;
	font-family: 'Varela Round', sans-serif;
	margin-bottom: 0.5rem;
	background-color: rgba(0, 0, 0, 0.8);
	transition: all 300ms ease-in-out;
}
.box-content a{
	color: #ffffff;
	transition: all 300ms ease-in-out;
	font-size: 15px;
	text-decoration: none;
	border: 2px solid #000;
}
.box-content a:hover{
	color: #000;
}
.category-box:hover .box-content h2{
	color: #000000;
	background-color: #ffffff; 
}

/*--category design ends--*/

@media screen and (max-width: 660px) {
	.category-box {
	  height: 18rem;
	  border: 1px solid #000;
    }
    .box-content h2{
	  font-size: 15px;
	  border: 2px solid #000;
	  width: 120px;
	  display: inline-block;
    }
    .box-content a{
      text-decoration: none;
	  border: 2px solid #c71585;
	  font-size: 13px;
    }  
    .category-text {
	  padding-bottom: 50px;
    }
    .category-text p {
	  font-size: 18px;  
    }
    .category-text h1 {
	  font-size: 30px;  
    }
}

/*--featured design begins--*/

#featured{
	padding: 5rem 0;
	width: 100%;
	background-color: #ffe4e1;
}
.featured-text{
	padding-bottom: 70px;
	text-align: center;
}
.featured-text p{
	margin: auto;
	color: #c71585;
	font-size: 23px;
	font-weight: bold;
	font-family: 'Goudy Bookletter 1911', serif;
	position: relative;
	z-index: 1;
	display: inline-block;
}

.featured-text hr {
	background-color: #c71585;
	height: 2px;
	border: 0;
	margin: 15px auto;
	width: 20%;
}

.featured-text h1 {
	font-size: 40px;
	font-family: 'Acme', sans-serif;
}

.featured-product{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
    margin: 0 auto;
	padding: 0 1.4rem;
	max-width: 130rem;
	grid-gap: 2rem;
}

.product {
	overflow: hidden;
}

.product .image-container{
	cursor: pointer;
	position: relative;
}

.image-container .add-cart .fas{
	color: #c71585;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	transition: 0.2s;
}
.image-container .add-cart .fas:hover {
	color: #c4c4c4;
	
	transition: 0.2s;
}

.product .image-container img {
	width: 100%;
	height: 29rem;
	object-fit: cover;
	border-radius: 3%;
}

.product .bottom-part {
	text-align: center;
	padding: 1rem;
}

.product .bottom-part a {
	font-size: 1.5rem;
	font-weight: inherit;
	text-decoration: none;
	color: #000;
	transition: all 300ms ease-in-out;
	margin-bottom: 1rem;
}

.product .bottom-part a :hover {
	color: #ff1493;
}

.product .bottom-part p {
	font-size: 1.1rem;
	color: #000;
	text-align: center;
}

.product .add-cart {
	background-color: #ffffff;
	bottom: 0.6rem;
	right: 0;
	position: absolute;
	border-radius: 50%;
	padding: 1.3rem 1.6rem;
	box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
}

.product:hover .add-cart:hover{
    color: #ff00ff;
}

.product a{
	transition: all 300ms ease-in-out;
}

/*--featured design ends--*/

@media screen and (max-width: 770px) {
	.product .image-container img {
	  height: 20rem;
	}
	hr {
		width: 30%;
	}
}

/*--service design begins--*/

#service {
	padding: 60px 0;
	width: 100%;
	background-color: #f5f5f5;

}
.service-text {
	padding-bottom: 70px;
	text-align: center;
}
.service-text p {
	margin: auto;
	color: #c71585;
	font-size: 23px;
	font-weight: bold;
	font-family: 'Goudy Bookletter 1911', serif;
	position: relative;
	text-transform: uppercase;
	z-index: 1;
	display: inline-block;
}

.service-text h1{
	font-size: 40px;
	font-family: 'Acme', sans-serif;
}

.service-text hr {
	background-color: #c71585;
	height: 2px;
	border: 0;
	margin: 15px auto;
	width: 20%;
}

.service-box{
	display: flex;
	width: 80%;
	margin: auto;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
}
.services{
	flex-basis: 50%; 
}
.service-img{
	margin: auto;
	flex-basis: 50%;
}
.service-img img{
	width: 85%;
	border-radius: 5%;
}
.services h1{
	font-weight: 400;
	font-size: 30px;
	text-align: left;
	margin-bottom: 10px;
}
.service-desc{
	margin-bottom: 40px;
	align-items: center;
	display: flex;
}
.service-icon .fas{
    height: 50px;
    width: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #000;
    border: 1px solid #c71585;
}
.service-icon .fab{
    height: 50px;
    width: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #000;
    border: 1px solid #c71585;
}
.services-text p {
	text-align: initial;
	padding: 0 20px;

}

/*--service design ends--*/

@media screen and (max-width: 770px) {
	.services{
	  flex-basis: 100%; 
    }
	.service-text {
	  padding-bottom: 50px;
    }
    .service-text p {
	  font-size: 18px;  
    }
    .service-text h1 {
	  font-size: 30px;  
    }
    .service-img{
	  flex-basis: 100%;
    }
    .service-img img{
	  width: 100%;
    }
    .services h1{
	  font-size: 26px;
    }
}

/*--footer design begins--*/

.footer {
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("image/slide1.jpg");
    background-size: cover;
}

.first{
	color: rgb(206,206,206);
	margin-bottom: 50px;
	margin-top: 40px;
}
.first h4{
	letter-spacing: 2px;
	margin-bottom: 20px;
	position: relative;
	font-size: 1.8rem;
	color: #ffffff;
	padding-bottom: 0.5em;
}
.first h4::after{
	content: '';
	background: #c71585;
	width: 20%;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.first li {
	font-size: 16px;
	padding-bottom: 20px;
	list-style: none; 
}
.first a {
	color: rgb(206,206,206);
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 14px;
	transition: 0.2s;
}
.second{
	color: rgb(206,206,206);
	margin-bottom: 50px;
	margin-top: 40px;
	text-align: center;
}
.second h4{
	letter-spacing: 2px;
	margin-bottom: 20px;
	position: relative;
	font-size: 1.8rem;
	color: #ffffff;
	padding-bottom: 0.5em;
}
.second h4::after{
	content: '';
	background: #c71585;
	width: 20%;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 40%;
}
.second li {
	padding-bottom: 20px;
	list-style: none; 
}
.second a {
	color: rgb(206,206,206);
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 14px;
	transition: 0.2s;
}
 
.second a:hover, .bottom-social a:hover{
	transition: 0.3s;
	color: #c71585;
	text-shadow: 1px 2px rgba(0,0,0,0.1);
}
.third{
	margin-bottom: 50px;
	margin-top: 40px;
	text-align: right;
	color: rgb(206,206,206);
}
.third h4{
	letter-spacing: 2px;
	margin-bottom: 20px;
	position: relative;
	font-size: 1.8rem;
	color: #ffffff;
	padding-bottom: 0.5em;
}
.third h4::after{
	content: '';
	background: #c71585;
	width: 20%;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 80%;
}
.third li{
	padding-bottom: 15px;
	list-style: none; 
}
.third a{
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
    color: #fff;
}
.third a:hover{
	text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	transition: 0.2s;
	color: #c71585;
}

.bottom-social {
	margin-bottom: 50px;
	text-align: center;
	margin-top: 40px;
	color: rgb(206,206,206);
}

.bottom-social a {
	display: inline-block;
	color: rgb(206,206,206);
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 14px;
	transition: 0.2s;
}

.margin{
	margin-left: 20px;
}

.line {
	height: 2px;
	background-color: rgb(206,206,206);
}

/*--footer design ends--*/

/*--menu design begins--*/

.menu-icon {
	width: 28px;
	margin-left: 28px;
	display: none;
}


@media only screen and (max-width: 800px) {
	nav ul {
		position: absolute;
		top: 55px;
		left: 0;
		background: #ffe4e1;
		width: 100%;
		overflow: hidden;
		transition: all 300ms ease;
	}

	nav ul li {
		display: block;
		margin-right: 50px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.menu-icon{
		display: block;
		cursor: pointer;
	}
}



